.InputPassword {
  width: 100%;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.InputPassword__input {
  padding: 12px;
  width: 100%;
  border: none;
}

.InputPassword__input:focus {
  outline: none;
}

.InputPassword__hidden {
  padding: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
