.AccountPassword__title {
  margin-bottom: 20px;
  display: flex;
}
.AccountPassword__title button {
  border: 0;
  background-color: #fff;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

.AccountPassword__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.AccountPassword__input--icon {
  position: absolute;
  top: 70%;
  right: 5px; /* Ajusta el valor según la posición deseada */
  transform: translateY(-50%);
  cursor: pointer;
}
.AccountPassword__input--icon:hover {
  color: #919191;
}

.AccountPassword__input label {
  margin-bottom: 5px;
}

.AccountPassword__input input {
  padding-right: 20px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.AccountPassword__link a {
  color: #666;
  text-decoration: none;
}

.AccountPassword__link a:hover {
  text-decoration: underline;
}

.AccountPassword__button {
  display: flex;
}

.AccountPassword__button--save {
  width: 100%;
  padding: 16px;
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.AccountPassword__button--save:hover {
  background-color: #2f2f2f;
}

.AccountPassword__button--cancel,
.AccountPassword__button--password {
  background-color: #ddd;
  color: #2f2f2f;
  width: 100%;
  padding: 16px;
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AccountPassword__button--cancel:hover,
.AccountPassword__button--password:hover {
  background-color: #c8c8c8;
  color: #2f2f2f;
}
