.PurchaseMessage__title {
  margin-bottom: 20px;
}

.PurchaseMessage__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.PurchaseMessage__input label {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.PurchaseMessage__button {
  width: 100%;
  padding: 16px;
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background-color: #121212;
  color: #fff;
}

.PurchaseMessage__button:hover {
  background-color: #2f2f2f;
}
